body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.input {
    width: 900px;
    height: 300px;
}
.keyboard {
    width: 700px;
    padding: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
}
.row0, .row1, .row2, .row3, .row4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 8px;
  }
.key {
    text-align: center;
    width: 45px;
    height: 45px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 5px;
}